{% load static %}

<!-- Contenido Pagina -->
<div class="main-panel">

    <!-- comienzo del contenido de pagina -->
    <div class="content-wrapper">
        <!-- Presentacion con imagen -->
        <div class="row">
            <div class="container">
              <div class="row gy-4 justify-content-between">
                
                <div class="col-lg-6 order-lg-last"
                  data-aos="zoom-out"
                  data-aos-delay="100"
                  data-aos-duration="3000">
                  <img src="{% static 'assets/images/heroPagina.png' %}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
    
                <div class="col-lg-6 d-flex flex-column justify-content-center tipo_letra_maes"
                  data-aos="fade-in"
                  data-aos-delay="100"
                  data-aos-duration="3000">
                  <h1>MAESRED COLOMBIA S.A.S</h1>
                  <p>Su confianza nuestro mayor logro</p>
                  <p>operaciones@maesred.com</p>
                </div>
    
              </div>
    
            </div>
    
        </div>
        <!-- Fin Presentacion con imagen -->
      

        <!-- Details Section -->
        <section id="details" class="section seccion-arriba">

            <!-- Section Title -->
            <div class="container_maes section-title_maes tipo_letra_maes-titulo tipo_letra_maes"
                data-aos="fade-up">

                <h2>Soluciones a tu medida</h2>
                <p class="subtitulo">Te acompañamos con soluciones reales</p>

            </div>
            <!-- End Section Title -->

            <div class="container_maes">

                <div class="row">

                    <div class="col-12 grid-margin stretch-card">

                    <div class="card corona-gradient-card text-center">

                        <div class="card-body py-4 px-4">

                        <h4 class="mb-3">
                            ¡Explora nuestro registro fotográfico y mira cómo
                            trabajamos!
                        </h4>

                        <a href="/galeria"
                            class="btn btn-outline-light btn-rounded get-started-btn">
                            Ver galería
                        </a>

                        </div>

                    </div>

                    </div>

                </div>

                <div class="row gy-4 align-items-center subtema-arriba">

                    <div class="col-md-5 d-flex align-items-center"
                    data-aos="zoom-out"
                    data-aos-delay="100">

                    <img src=" {% static 'assets/images/img1.png' %} "
                        class="img-fluid"
                        alt=""
                    />

                    </div>

                    <div class="col-md-7 letra_maes_h3"
                    data-aos="fade-up"
                    data-aos-delay="100">

                    <h3>
                        Equipos de Laboratorio, Industriales y Odontologicos.
                    </h3>

                    <p>
                        En <strong>MAESRED Colombia SAS</strong> ofrecemos
                        soluciones integrales en el suministro, mantenimiento
                        preventivo y correctivo de equipos
                        <strong>de laboratorio, industriales y odontológicos</strong>
                        . Brindamos respaldo técnico confiable, atención
                        especializada y compromiso con la calidad para asegurar el
                        óptimo funcionamiento de sus equipos.
                    </p>

                    </div>

                </div>
                <!-- Features Item -->

                <div class="row gy-4 align-items-center features-item">

                    <div class="col-md-5 order-1 order-md-2 d-flex align-items-center"
                    data-aos="zoom-out"
                    data-aos-delay="200">
                    <img src=" {% static 'assets/images/img2.png' %} "
                        class="img-fluid"
                        alt=""
                    />
                    </div>

                    <div class="col-md-7 order-2 order-md-1 subtema-arriba letra_maes_h3"
                    data-aos="fade-up"
                    data-aos-delay="200">
                    <h3>Sistema de Seguridad y Electrónica</h3>
                    <p class="">
                        En <strong>MAESRED Colombia SAS</strong> ofrecemos
                        soluciones integrales en
                        <strong>sistemas de seguridad, electrónica y control</strong>
                        , adaptadas a entornos industriales, comerciales y residenciales. Realizamos instalación, 
                        configuración y mantenimiento de
                        <strong>cámaras de videovigilancia, alarmas, controles de acceso, redes estructuradas</strong>
                        y sistemas electrónicos especializados. También implementamos tecnologías de
                        <strong>automatización IoT</strong> para la
                        <strong>seguridad y gestión de energía</strong>
                        en hogares y oficinas, brindando eficiencia, control remoto y monitoreo en tiempo real, 
                        todo con el respaldo de un equipo técnico calificado.
                    </p>
                    </div>

                </div>
                <!-- Features Item -->

                <div class="row gy-4 align-items-center subtema-arriba">
                    <div class="col-md-5 d-flex align-items-center"
                    data-aos="zoom-out"
                    data-aos-delay="100">
                    <img src=" {% static 'assets/images/img3.png' %} "
                        class="img-fluid"
                        alt=""
                    />
                    </div>
                    <div class="col-md-7 letra_maes_h3"
                    data-aos="fade-up"
                    data-aos-delay="100">
                    <h3>Desarrollo Web e Inteligencia Artificial.</h3>
                    <p>
                        En <strong>MAESRED Colombia SAS</strong> desarrollamos soluciones digitales a la medida, 
                        que incluyen la <strong>creación de dominios, diseño y publicación de páginas web</strong>
                        , así como la implementación de <strong>ERP para gestión de negocios</strong> y
                        <strong>chats inteligentes con inteligencia artificial</strong> para tiendas, almacenes 
                        y empresas. Impulsamos la transformación digital con tecnología moderna, accesible y funcional.
                    </p>
                    </div>

                </div>
                <!-- Features Item -->

                <div class="row gy-4 align-items-center features-item">

                    <div class="col-md-5 order-1 order-md-2 d-flex align-items-center"
                    data-aos="zoom-out"
                    data-aos-delay="200">
                    <img src=" {% static 'assets/images/img2.png' %} "
                        class="img-fluid"
                        alt=""
                    />

                    </div>
                    <div class="col-md-7 order-2 order-md-1 subtema-arriba letra_maes_h3"
                    data-aos="fade-up"
                    data-aos-delay="200">
                    <h3>Domótica y Automatización</h3>
                    <p class="">
                        En <strong>MAESRED Colombia SAS</strong> ofrecemos soluciones en <strong>domótica y 
                        automatización</strong> para hogares, oficinas e instalaciones industriales, enfocadas en
                        mejorar la eficiencia, seguridad y confort. Implementamos sistemas inteligentes de control 
                        de iluminación, climatización, acceso, energía y monitoreo remoto, integrando tecnologías 
                        IoT que permiten gestionar y supervisar todo desde su dispositivo móvil o panel centralizado.
                    </p>
                    </div>

                </div>
                <!-- Features Item -->

                <!-- Gallery Section -->
                <section id="gallery" class="gallery section">
                    <!-- Section Title -->
                    <div class="container section-title subtema-arriba letra_maes_h3"
                    data-aos="fade-up">
                    <h2>Muestra de Galeria</h2>
                    </div>
                    <!-- End Section Title -->

                    <div class="container"
                    data-aos="fade-up"
                    data-aos-delay="100">

                    <div class="row g-0">

                        <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a>
                            <img
                                src="{% static 'assets/images/gallery/galeria1.png' %}"
                                alt=""
                                class="img-fluid"
                            />
                            </a>
                        </div>
                        </div>
                        <!-- End Gallery Item -->

                        <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a>
                            <img src="{% static 'assets/images/gallery/galeria2.png' %}"
                                alt=""
                                class="img-fluid"
                            />
                            </a>
                        </div>
                        </div>
                        <!-- End Gallery Item -->

                        <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a>
                            <img src="{% static 'assets/images/gallery/galeria3.png' %}"
                                alt=""
                                class="img-fluid"
                            />
                            </a>
                        </div>
                        </div>
                        <!-- End Gallery Item -->

                        <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a>
                            <img src="{% static 'assets/images/gallery/galeria4.png' %}"
                                alt=""
                                class="img-fluid"
                            />
                            </a>
                        </div>
                        </div>
                        <!-- End Gallery Item -->

                        <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a>
                            <img src="{% static 'assets/images/gallery/galeria5.png' %}"
                                alt=""
                                class="img-fluid"
                            />
                            </a>
                        </div>
                        </div>
                        <!-- End Gallery Item -->

                        <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a>
                            <img src="{% static 'assets/images/gallery/galeria6.png' %}"
                                alt=""
                                class="img-fluid"
                            />
                            </a>
                        </div>
                        </div>
                        <!-- End Gallery Item -->

                        <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a>
                            <img src="{% static 'assets/images/gallery/galeria7.png' %}"
                                alt=""
                                class="img-fluid"
                            />
                            </a>
                        </div>
                        </div>
                        <!-- End Gallery Item -->

                        <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a>
                            <img src="{% static 'assets/images/gallery/galeria8.png' %}"
                                alt=""
                                class="img-fluid"
                            />
                            </a>
                        </div>
                        </div>
                        <!-- End Gallery Item -->

                    </div>

                    </div>

                </section>
                <!-- /Gallery Section -->
            </div>

        </section>
        <!-- /Details Section -->

    </div>
    <!-- Final del contenido de pagina -->

    <!-- footer.html -->
    <footer class="footer">
      <div
        class="d-sm-flex justify-content-center justify-content-sm-between"
      >
        <span
          class="text-muted d-block text-center text-sm-left d-sm-inline-block"
          >Copyright © MaesRed Colombia 2025 -
          operaciones@maesred.com</span
        >
        {% comment %}
        <span
          class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
        >
          Free
          <a
            href="https://www.bootstrapdash.com/bootstrap-admin-template/"
            target="_blank"
            >Bootstrap admin templates</a
          >
          from Bootstrapdash.com</span
        >
        {% endcomment %}
      </div>
    </footer>
    <!-- Fin footer.html -->
    
</div>
<!-- Fin BContenido Pagina -->